body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("../static_test/images/tim_chow.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: cadetblue; */
    font-family: "Roboto Light", sans-serif;
}
h1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 8px rgba(0,0,0,0.7);

}

h2 {
    padding: 1.5rem;
    font-size: 1.75rem;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.4) 0%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.25)80%);
    display: block;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 2rem;
    color: white;

}

button {
    border-radius: 2rem;
    width: 19rem;
    height: 10rem;
    margin: 1.5rem;
    font-size: 1.75rem;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    color: white;
    transition: 0.2s ease-in-out;
}

button:focus {
    border: solid 5px #0ca5e5;
    outline: none;
}

button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}


#clock {
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.25);

    color: white;
    font-size: 1.2rem;
    font-weight: 300;

    letter-spacing: 1px;

    z-index: 1000;
    cursor: default;
}

#clock:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
}