body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#refreshBtn {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 80vh; /* Kartan korkeus */
}
