body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#map {
    height: 500px;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    font-size: 18px;
}
