<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8" />
    <title>Noppa Heitto</title>
    <link rel="stylesheet" href="../static/noppa.css" />
</head>
<body>

    <audio id="bgMusic" src="background.mp3" loop></audio>

    <h1>Noppa Heitto</h1>

    <div id="balance">Saldo: 0€</div>

    <div id="computer-roll">Tietokone heitti: ? ?</div>

    <div id="player-roll">Sinun heittosi: ? ?</div>

    <div id="dice-container">
        <span id="dice1">🎲</span>
        <span id="dice2">🎲</span>
    </div>

    <button id="rollBtn">Heitä Noppia</button>
    <button id="quitBtn">Lopeta</button>

    <div id="message"></div>

    <script src="../static/noppa.js"></script>

</body>
</html>
