body {
    background-color: #ecc48b;
    text-align: center;
}

p {
    color: #020202;
    font-family: "Roboto Light", sans-serif;
    font-size: 1.5rem;
    margin: 20px;
}

img {
    margin: 60px 0 30px 0;
    width: 40%;
    height: 40%;
    border-radius: 3rem;
}

input {
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: "Roboto Light";
    text-align: center;
    font-size: 1.3rem;
}

input:focus {
    border: solid 5px #0ca5e5;
    outline: none;
}

#greet {
    background-color: palevioletred;
    color: white;
    width: 200px;
}

#greet:hover {
    background-color: #e31859;
    cursor: pointer;
}