<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <img src="../static/Images/name-change.jpg" height="900" width="1600" alt="Name tag picture"/><br>
    <form id="nameForm" action="greet" method="post">
        {% for message in get_flashed_messages()%}
            <p>{{message}}</p>
        {% endfor %}
        <br>
        <input type="text" name="name_input">
        <input type="submit" value="Submit" id="greet">
    </form>
</body>
</html>